%header
  %h1 Welcome to Staticd.
  %h2 It's almost ready.

%article
  %h3 Configure your wildcard domain

  %p
    %ul.monitor
      %li{class: @domain_resolve ? "green" : "red"}
        = "The '#{Staticd::Config[:domain]}' domain must resolve to this app."
      %li{class: @wildcard_resolve ? "green" : "red"}
        = "The wildcard '*.#{Staticd::Config[:domain]}' domain must resolve to this app."

  - unless @domain_resolve && @wildcard_resolve
    %p
      %button#refresh Refresh!

  %h3 Install the staticdctl gem

  %p
    %b You must have a working ruby stack to install and use the staticdctl gem.

  %p
    %i The staticdctl gem is not yet distributed on rubygems. Until then, It must be build locally.

  %p
    %code git clone https://github.com/garnieretienne/staticd.git
    %br
    %code cd staticd
    %br
    %code gem build staticdctl.gemspec
    %br
    %code gem install staticdctl-*.gem

  %h3 Configure your Staticd client to use this endpoint

  %p
    %code= "staticdctl --host http://#{@staticd_host}/api config:set access_id #{Staticd::Config[:access_id] || "your_access_id"}"
    %br
    %code= "staticdctl --host http://#{@staticd_host}/api config:set secret_key #{Staticd::Config[:secret_key] || "your_secret_key"}"

  %h3 Almost finish

  %p Once configuration is over, you want to hide this page as it contains sensitive informations.
  %p
    %button#done I'm done!
